div {
    height: 100vh;
    background-color: #F6BED9;
    background-image: url("../images/image-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.image2 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
body {
    margin: 0;
    box-sizing: border-box;
}