.wrapper {
  position: relative;
  background: #1A1A1A;
}

.green_line {
  height: 2px;
  width: 60px;
  background-color: #34C759;
  margin: 28px auto 0 auto;
}

.line {
  height: 1.4px;
  background-color: #34C759;
  margin-left: 24px;
  margin-right: 175px;
  margin-top: 6.2px;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 90px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  margin-top: 80px;
  text-align: center;
}

.main {
  min-height: 100vh;
  background-image: url("../images/image-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 171px;
}
.main .green_button {
  background-color: #34C759;
  width: 220px;
  height: 72px;
  display: inline-block;
  border-radius: 43px;
  color: black;
  border: none;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
}
.main h1 {
  width: 1000px;
  margin: 0 auto;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.main p {
  width: 510px;
  margin: 16px auto 40px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.main .contacts {
  margin-top: 65px;
}

.how_it_works {
  height: 354px;
  text-align: center;
}
.how_it_works .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}
.how_it_works .works .black_block {
  background: #252525;
  height: 144px;
  border-radius: 6px;
  width: 255px;
}
.how_it_works .works .black_block:hover {
  color: #191919;
  background: #34C759;
  height: 144px;
  border-radius: 6px;
  width: 255px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.how_it_works .works .black_block p {
  margin-top: 17px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  text-align: left;
  width: 170px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.how_it_works .works .black_block:hover p {
  color: #191919;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.how_it_works .works .black_block:hover .line {
  background-color: #191919;
  height: 1.4px;
  margin-left: 24px;
  margin-right: 175px;
  margin-top: 6.2px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.how_it_works .works .black_block span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  margin-top: 17px;
  margin-left: 24px;
}

.chefs {
  text-align: center;
  height: 340px;
}
.chefs .chefs_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  margin: 60px auto 0 auto;
}
.chefs .chefs_block .text_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}
.chefs .chefs_block .text_img .ava {
  border-radius: 50%;
  margin-right: 24px;
}
.chefs .chefs_block .text_img .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.chefs .chefs_block .text_img .text p {
  font-size: 12px;
  text-align: start;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.5);
}
.chefs .chefs_block .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-top: 24px;
}
.chefs .chefs_block .image .img_block {
  border-radius: 2px;
}

.dish_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 80px;
}
.dish_block .meals_block {
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 493px;
  background-color: #252525;
}
.dish_block .meals_block:hover .button {
  background: #34C759;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  color: #252525;
}
.dish_block .meals_block .meal {
  width: 350px;
  height: 260px;
}
.dish_block .meals_block .button {
  background-color: #262626;
  width: 100px;
  height: 40px;
  display: inline-block;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 2px solid #303030;
}
.dish_block .meals_block .meals_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 41px;
  padding-top: 24px;
}
.dish_block .meals_block .meals_button .meal_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.dish_block .meals_block .meals_button .meal_button .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #B3B3B3;
  font-weight: 900;
}
.dish_block .meals_block .meal {
  position: relative;
}
.dish_block .meals_block .meal img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dish_block .meals_block .meal .share_icon {
  position: absolute;
  right: 24px;
  top: 24px;
}
.dish_block .meals_block .meals_text {
  padding: 20px 30px 24px 30px;
}
.dish_block .meals_block .meals_text .big_text {
  padding-bottom: 20px;
}
.dish_block .meals_block .meals_text h4 {
  font-size: 32px;
  line-height: 30px;
  text-align: start;
  width: 290px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  color: #D9D9D9;
}
.dish_block .meals_block .meals_text p {
  color: #85878C;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  width: 290px;
  height: 54px;
}
.dish_block .meals_block .meals_text span {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}

.header {
  height: 91px;
  width: 1110px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .logo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}
.header .container .logo_text .logo {
  width: 25px;
}
.header .container .logo_text .l_text {
  color: #34C759;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  padding-top: 4px;
}
.header .container .menu {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  font-weight: 700;
}
.header .container .menu li {
  display: inline-block;
}
.header .container .menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 22.5px;
  font-size: 14px;
  line-height: 90px;
}
.header .container .menu a:hover {
  color: #34C759;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.menu_line {
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #fff;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-top: 92px;
}

.four_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 61px;
}
.four_block .three_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.four_block .blocks {
  background-color: #252525;
  height: 150px;
  width: 540px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
.four_block .blocks:hover {
  background-color: #34c759;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.four_block .blocks:hover p {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  color: black;
}
.four_block .blocks:hover .food_button {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  background-color: #000000;
  opacity: 1;
}
.four_block .blocks:hover span {
  color: black;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.four_block .blocks:hover .icon_svg {
  color: black;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.four_block .blocks p {
  font-size: 18px;
  line-height: 30px;
  margin-right: 58px;
  margin-top: 30px;
  margin-left: 30px;
}
.four_block .blocks .button_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  height: 25px;
  margin-left: 30px;
  margin-top: 10px;
}
.four_block .blocks .button_data span {
  font-size: 12px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.four_block .blocks .food_button {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  text-align: center;
  width: 65px;
  border-radius: 6px;
}
.four_block .blocks .food_button a {
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  color: #ffffff;
}
.four_block .blocks:nth-child(2) {
  background-image: url(../images/img_food.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.four_block .blocks:nth-child(2):hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 199, 89)), to(rgb(52, 199, 89))), url(../images/img_food.jpg);
  background-image: linear-gradient(rgb(52, 199, 89), rgb(52, 199, 89)), url(../images/img_food.jpg);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.four_block .blocks .icons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
  margin-bottom: 20px;
}
.four_block .blocks .icons_block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}
.four_block .blocks .icons_block span {
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
}
.four_block .big_food {
  background-image: url(../images/img_big_food.jpg);
  width: 540px;
  height: 510px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.four_block .big_food .food_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.368627451);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.127);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.127);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 30px;
  right: 30px;
}
.four_block .big_food .all_food_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.four_block .big_food .all_food_block .black_button {
  background: #000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 6px;
  width: 90px;
  margin-top: 60px;
}
.four_block .big_food .all_food_block:hover .black_button {
  background: #000000;
  opacity: 1;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}
.four_block .big_food .all_food_block a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.four_block .big_food .all_food_block h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  width: 375px;
  margin-top: 25px;
}
.four_block .big_food .all_food_block h5 {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 45px;
}
.four_block .big_food .all_food_block p {
  font-size: 14px;
  line-height: 30px;
  margin-top: 65px;
}
.four_block .big_food .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  gap: 29px;
}
.four_block .big_food .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.four_block .big_food .icons img {
  width: 26px;
  height: 26px;
}
.four_block .big_food .icons span {
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
}
.four_block .big_food .icons .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.four_block .big_food .icons .icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}